@font-face {
    font-family: "iA Writer QuattroS";
    font-weight: normal;
    font-style: normal;
    src: url("assets/fonts/iAWriterQuattroS-Regular.eot") format("embedded-opentype"),
      url("assets/fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),
      url("assets/fonts/iAWriterQuattroS-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "iA Writer QuattroS";
    font-weight: normal;
    font-style: italic;
    src: url("assets/fonts/iAWriterQuattroS-Italic.eot") format("embedded-opentype"),
      url("assets/fonts/iAWriterQuattroS-Italic.woff2") format("woff2"),
      url("assets/fonts/iAWriterQuattroS-Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "iA Writer QuattroS";
    font-weight: bold;
    font-style: normal;
    src: url("assets/fonts/iAWriterQuattroS-Bold.eot") format("embedded-opentype"),
      url("assets/fonts/iAWriterQuattroS-Bold.woff2") format("woff2"),
      url("assets/fonts/iAWriterQuattroS-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "iA Writer QuattroS";
    font-weight: bold;
    font-style: italic;
    src: url("assets/fonts/iAWriterQuattroS-BoldItalic.eot") format("embedded-opentype"),
      url("assets/fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"),
      url("assets/fonts/iAWriterQuattroS-BoldItalic.woff") format("woff");
  }




.root-grid-thing {
    height: 100vh;
    width: 100vw;
}

.borderless-task-input {
    border: None;
}
